a {
  color: #95E495;;
}
a:focus, a:hover {
  color: white;
}

a.btn {
  background-color: #60b22e;
  font-size: 3em;
  margin: 2px;
  color: #333;
  text-shadow: none;
}

a.btn:hover {
  background-color: rgba(214, 38, 79, 0.80)
}

body {
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: #333;
}

div.container-fluid > div.row:nth-child(even) {
    background-color: #d6264f;
}

div.col-centered{
    float: none;
    margin: 0 auto;
}

div.fullheight {
  height: auto;
  min-height: 100%;
}

div.photogallery img {     
  max-height: 20em;
}

div.row {
  padding: 100px 10px 100px 10px;
  text-align: center;
}

div#schedule > div > div {
    padding: 5px;
}

div#sponsors {
  background-color: #60b22e;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lobster', cursive;
}

img.corner_image {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 10%;
  min-width: 100px;
}

img.logo_image {
  width: auto;
  max-width: 75%;
}

p {
  font-size: 1.4em;
}

span.subtitle {
  font-size: 2em;
  padding: 25px 0px 25px 0px;
}
